{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="vh-150 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Reser_password</h2>
              <p class="text-white-50 mb-5">Please enter your New_Password!</p>

              <form class="mx-1 mx-md-4" method="POST" >
                {% csrf_token %}

                <div class="col-sm-12 p-2">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="newpassword" placeholder="Enter New Password"  class="form-control" required>
                    </div>
                </div>
           
          
           
                <div class="col-sm-12 p-2">
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Enter New Password Again"  class="form-control" required>
                    </div>
                </div>
          
                  
            <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">

            
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}












